/*slide show*/
.App
 {
    font-family: sans-serif;
    text-align: center;
  }
  
  .bg {
    position: absolute;
    top: 1; 
    left: 0;
    right:0;
    width: 100vw;
    height: 50vh;
    background-size:cover;
    background-position: cover;
    will-change: opacity;
    align-content: center;
    
  }
/* slide show - end */
.hero{
    height:100vh;
    width:100%;
    background-size:cover;
    background-position:center;
    position:relative;
    overflow-x:hidden;
}
.highway{
    height:100px;
    width:400px;
    display:black;
    background-image:url(./../../images/road.jpg);
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
    animation:highway 5s linear infinite; 
}
@keyframes highway
    {
    100%{
        transform:translateX(-3400px);
    }
}
.city{
    height:250px;
    width:500%;
    background-image:url(./../../images/city.png);
    position: absolute;
    bottom:200px;
    left:0;
    right:0;
    display:block;
    z-index:1;
    background-repeat:repeat-x;
    animation:city 20s linear infinite;
}
@keyframes city{
    100%{
        trandfor: translateX(-1400px);
    }
}
.car
{
    width:400px;
    left:50%;
    bottom:100px;
    transform:translateX(-50%);
    position:absolute;
    z-index:2;
    /*background-image:url(./../../images/foodtruck.png);*/
}
.car img{
    width:200%;
    animation:car is linear infinite;
    
}
@keyframes car{
    100%{
        transform:translateY(-1px);
    }50%{
        transform:translateY(1px);
    }
    0%{
        transform:translateY(-1px);
    }
}
.wheel{
    left:50%;
    bottom:178px;
    transform:translateX(-50%);
    position: absolute;
    z-index:2;
}
.wheel img{
    width:72px;
    height:72px;
    animation:wheel 1s linear infinite;
}
.back-wheel{
    left:-165px;
    position: absolute;
}
.front-wheel{
    left:80px;
    position:absolute;
}
@keyframes  wheels{
    100%{
        transform:rotate(360deg);
    }
}
menu_car{
    align-content: center;

}

/* footer */
.container{
    width:auto;
    /* max-width:900px; */
    /* padding:0 15px; */
    background-image: url('https://media.giphy.com/media/KH7V8ZOAzNWNYqZP10/giphy.gif');
    background-position-x: left;
    /* background-size: cover; */
    /* background-color:grey; */
    height:480px;
    width:440px;
    /*margin: 0px 0px 20px;*/
}
.container .footer-text{
    margin:20px;
    text-align: center;
}

/* Slideshow*/

.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .bg {
    position: absolute;
    top: 1;
    left: 1;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    will-change: opacity;
  }