// SEARCH FOOD OR TRUCK NAME
.form {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    &-search--btn {
      border: none;
      font-size: 1.5rem;
      font-family: inherit;
      color: $color-white;
      background: $color-orange;
      border-radius: 5px;
      padding: 0 1rem;
      transition: all .2s;
      flex: 0 0 18%;
  
      @media only screen and (max-width: $bp-medium) {
        font-size: 2rem;
      }
  
      &:hover {
        background: $color-orange-light;
      }
    }
  }
  
  
  // AUTOSUGGEST STYLE
  .react-autosuggest__container {
    position: relative;
    flex: 0 0 80%;
    outline: none;
    height: auto;
  
    &--open {
      .react-autosuggest__input {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
  
      .react-autosuggest__suggestions-container {
        display: block;
        position: absolute;
        width: 100%;
        border: 1px solid $color-grey-light;
        background-color: #fff;
        font-size: 1.6rem;
        border-bottom-left-radius: .4rem;
        border-bottom-right-radius: .4rem;
        z-index: 2;
      }
    }
  }
  
  .react-autosuggest__input {
    width: 100%;
    height: 3rem;
    padding: 2rem 3.5rem 2rem 2rem;
    font-size: 1.6rem;
    border: 1px solid $color-grey-light;
    border-radius: 4px;
    color: $color-green-dark-2;
  
    @media only screen and (max-width: $bp-medium) {
      height: 5.5rem;
    }
  
    &:focus {
      outline: none;
      border: 1px solid $color-green-dark;
    }
  
    &::-webkit-input-placeholder {
      font-style: italic;
      font-size: 1.2rem;
      color: $color-grey-light;
    }
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 1rem 2rem;
    color: $color-green-dark;
  
    &:not(:first-child) {
      border-top: 1px solid $color-grey-light-2;
    }
  
    &--highlighted {
      background-color: $color-green-dark-2;
      color: $color-white;
  
      .highlight {
        color: $color-orange-light;
      }
    }
  }
  
  .suggestion__content {
  
    &-name {
      line-height: 2rem;
  
      span {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  
    &-address {
      font-size: 1.4rem;
      text-transform: lowercase;
    }
  }
  
  .highlight {
    color: $color-orange;
    font-weight: 700;
  }
  
  
  // RADIUS OPTION
  .radius-option {
    margin: 1rem 0;
    width: 100%;
    height: 4rem;
    position: relative;
    text-align: center;
  
    @media only screen and (max-width: $bp-medium) {
      margin-top: 3rem;
    }
  
    &::after {
      position: absolute;
      right: .5em;
      top: 45%;
      transform: translateY(-50%);
      content: '\2304';
      z-index: 20;
      color: $color-white;
      font-size: 3rem;
  
      @media only screen and (max-width: $bp-medium) {
        top: 40%;
        right: 38%;
      }
  
      @media only screen and (max-width: $bp-small) {
        right: 1rem;
      }
    }
  
    &__select {
      width: 100%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      border: 0;
      background: $color-green-dark !important;
      color: $color-white;
      border-radius: 3px;
      padding: 1rem 1.5rem;
      background: transparent;
      cursor: pointer;
      z-index: 1;
      appearance:none;
      transition: all .2s;
  
      /*hide default down arrow in webkit */
      -webkit-appearance: none;
  
      @media only screen and (max-width: $bp-medium) {
        width: 30%;
        font-size: 1.7rem;
      }
  
      @media only screen and (max-width: $bp-small) {
        width: 100%;
      }
  
      &:focus { outline: none; }
  
      &:hover {
        background: $color-green-dark-2 !important;
      }
    }
  }
  
  
  // LIST OF FOOD TRUCKS
  .list {
    margin-top: 2rem;
  
    @media only screen and (max-width: $bp-medium) {
      text-align: center;
    }
  
    &__item {
      position: relative;
      cursor: pointer;
      margin-top: 2rem;
      padding: 3rem 2rem;
      background: linear-gradient( to left, $color-white 50%, $color-green-light 50% );
      background-size: 201% 100%;
      background-position: right bottom;
      transition: all .2s ease-out;
  
      @media only screen and (max-width: $bp-large) {
        padding: 2rem 0;
      }
  
      @media only screen and (max-width: $bp-medium) {
        padding: 4rem;
      }
  
      @media only screen and (max-width: $bp-small) {
        padding: 3rem 0;
      }
  
      &:hover {
         background-position: left bottom;
         color: $color-green-dark-2;
     }
  
      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-light-2;
      }
  
  
  
      &-heading {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;  //truncate long title
        letter-spacing: .4rem;
        text-transform: uppercase;
        color: $color-green-dark-2;
  
        @media only screen and (max-width: $bp-medium) {
          white-space: normal;
        }
      }
  
      &-info {
        line-height: 2.5rem;
        font-size: 1.6rem;
  
        &-food {
          font-style: italic;
          text-transform: capitalize;
        }
      }
    }
  
  }